* {

}

.App {
  text-align: center;
}

.wfl-title {
  color: rgb(189, 171, 34);
}

.date, .meal-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  padding-top: 34vh;
}

.shopping-bag {
  width: 80px;
  padding:0px 8px;
}

.calendar {
  width: 70px;
  padding:0px 8px;
}

.App-link {
  /* color: #61dafb; */
}

/* == talk bubble styling == */

/* General CSS Setup */
body{
  background-color: lightblue;
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
}

/* container */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 120px 0px 0px 40px;
  padding-left: 20px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}

.talk-bubble2 {
  margin: 110px 0px 0px 120px;
  /* padding-left: 20px; */
  display: inline-block;
  position: relative;
  width: 216px;
  height: auto;
  background-color: lightyellow;
}

.round {
  border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.tri-right.left-in:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -18px;
	right: auto;
  top: 10px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

.tri-right.right-in:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 11px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}