/* DEFAULT SETTINGS */
body,
h1,
h2,
h3,
td,
th,
tr,
a,
p,
table {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
  /* background: #f0eeee; */
}

.home-screen {
  /* background-image: url("./images/iphone_frame.png");
  background-color: #cccccc;
  padding:10px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
  position: relative; */
}

.home-screen-frame {
  background-image: none;
}

.home-frame {
  /* display: none; */
  /* max-width:450px;
  margin: 0 auto; */
}

/* 
.App {
  text-align: center;
} */

.logo-header {
  text-align: center;
}

.wfl-logo {
  margin-top: 30px;
  width: 200px;
  /* box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 1.5px 6px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 4px 4px -4px grey;
}

.wfl-title {
  color: rgb(189, 171, 34);
}

.date,
.meal-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.date {
}

/* === footer === */

.bottom-buttons {
  display: flex;
  justify-content: center;
  padding-top: 16vh;
  position: fixed;
  bottom: 10px;
  right: 0px;
  left: 0px;
}

.bag-icon {
  width: 54px;
  padding: 0px 8px;
}

.bag-icon:hover {
  width: 60px;
}

.calendar-icon {
  width: 50px;
  padding: 0px 8px;
}

.calendar-icon:hover {
  width: 56px;
}

.App-link {
  /* color: #61dafb; */
}

/* === footer2 === */

.bottom-buttons2 a:link {
  text-decoration: none;
  /* font-size: 20px; */
  position: fixed;
  top: 24px;
  right: 30px;
}

.bottom-buttons2 a:visited {
  text-decoration: none;
  color: #292929;
}

.bottom-buttons2 a:hover {
  text-decoration: none;
}

.bottom-buttons2 a:active {
  text-decoration: none;
}

.envelope-icon {
  display: none;
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

/* === talk bubbles === */

/* container */
.container {
  padding: 5% 5%;
}

.talk-bubble {
  display: inline-block;
  position: relative;
  height: auto;
  /* background-color: #8cd9e8; */
  box-shadow: 0 1.5px 4px rgb(0 0 0 / 10%), 0 1.5px 6px rgb(0 0 0 / 10%) !important;
  background-size: 100% 200%;
  background-position: 0% 50%;
}

.talk-bubble1 {
  background: radial-gradient(circle, #d2d0d0 0%, #d3d1d1 50%);
  margin: 120px 0px 0px 30px;
  padding: 10px 0px 10px 30px;
  width: 200px;
}

.talk-bubble2 {
  background: radial-gradient(circle, #9be2f0 0%, #8cd9e8 50%);
  margin: 110px 0px 0px 164px;
  padding: 10px 0px 10px 30px;
  /* width: 190px; */
  width: 150px;
}

.talk-bubble3 {
  background: radial-gradient(circle, #9be2f0 0%, #8cd9e8 50%);
  margin: 20px 0px 0px 145px;
  padding: 10px 0px 10px 30px;
  /* width: 216px; */
  width: 170px;
}

.display-linebreak {
  white-space: pre-line;
}

.round {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.tri-right.left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  right: auto;
  top: 4px;
  bottom: auto;
  border: 12px solid;
  border-color: #d3d1d1 #d3d1d1 transparent transparent;
}

.tri-right.right-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -10px;
  top: 6px;
  bottom: auto;
  border: 12px solid;
  border-color: #8cd9e8 transparent transparent #8cd9e8;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/* === calendar styles === */

#calendar {
  margin-top: 70px;
}

/* HEADER */
header {
  background: #292929;
  height: 100px;
  text-align: center;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  font: 3.5em/1em "Lobster";
  line-height: 100px;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

/* TABLE */
table {
  width: 340px;
  height: 340px;
  background: #ebebeb;
  margin: 16px auto;
  border-collapse: collapse;
  box-shadow: 0 1.5px 4px rgba(0,0,0,0.1),0 1.5px 6px rgba(0,0,0,0.1);
}

/* MONTH */
.month {
  display: flex;
  background: cadetblue;
  color: #98b6b7;
  font: 2em/1em arial;
  height: 34px;
  padding: 10px 0px 0px 4px;
}

/* WEEKS */
.weeks {
  display: flex;
  justify-content: space-around;
  background: #fff;
  height: 28px;
  font: 1em/1em arial;
  color: rgb(82, 80, 80);
  text-align: center;
  padding-top: 10px;
}

/* DAYS */
.week td {
  height: 30px;
  width: 50px;
  text-align: center;
  font: 500 1em/1em arial;
  color: #212121;
  padding-top: 15px;
}

.hover-day:hover {
  background: rgba(95, 158, 160, 0.533);
  color: #fff;
}

.grey-day {
  color: #707070 !important;
}

/*  === other days modal === */

.swal2-styled.swal2-confirm {
  border-radius: 20px !important;
  height: 40px !important;
  width: 80px !important;
  /* background-color: rgb(105, 177, 236) !important; */
  background-color: cadetblue !important;
}

.green {
  color: rgb(96, 126, 88);
}

/* === takeout options === */

.other-food {
  display: flex;
  justify-content: center;
  font: 1em arial;
  margin-top: 90px;
  color: #707070;
}

.takeout-container {
  display: flex;
  justify-content: center;
}

.takeout-joints {
  display: grid;
  align-items: center;
  grid-template-columns: 110px 110px;
  margin-top: 48px;
  column-gap: 36px;
  row-gap: 15px;
}

.resto-logo {
  width: 100px;
}

.resto-logo-big {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 50px;
  width: 180px;
}

/* == mqs == */

@media (min-width: 420px) {
  body {
    background-color: rgb(243, 227, 230);
  }

  #calendar {
    margin-top: 50px;
  }

  .takeout-joints {
    column-gap: 150px;
    row-gap: 40px;
  }

  .home-screen-frame {
    background-image: url("./images/iphone_frame.png");
    background-color: #f7f4f4;
    padding: 10px;
    width: 368px;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 54px;
    margin: 10vh auto;
  }

  .resto-logo-big {
    margin-top: 66px;
  }

  .bottom-buttons {
    position: inherit;
    padding-top: 34vh;
  }

  .wfl-logo {
    margin-top: 70px;
  }
}
